* {
  margin: 0;
  padding: 0;
}

*:link,
*:visited {
  text-decoration: none;
  color: black;
}

body {
  background-color: navajowhite;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-items: center;
}

.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: space-between;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  margin-left: 20px;
  display: flex;
  gap: 8px;
}

.delete-player,
.update-player {
  color: blue;
  /* background: none;
  border: none; */
}

.field {
  border: 1px solid black;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0;
  position: relative;
}

.field-item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-item:link,
.field-item:visited {
  text-decoration: none;
  color: blue;
}

.pop-up-roster {
  position: absolute;
  left: 110%;
  width: max-content;
}
